@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: rgb(30 41 59);
}
input {
  padding: 12px 8px;
  background-color: rgb(71 85 105);
}

input:focus {
  border: none;
}
